.openSourceSection {
  padding: 6rem 0;
  background-color: var(--background-light);
}

.contentWrapper {
  padding: 2rem;
  border-radius: 15px;
}

.subtitle {
  color: var(--text-dark);
  max-width: 650px;
  margin: 1rem auto 2.5rem auto;
}

.ctaButton {
  background-color: var(--complementary-color);
  color: var(--white);
  border: 2px solid var(--complementary-color);
  font-weight: bold;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.ctaButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(206, 101, 17, 0.4);
  background-color: #d86a1b;
  border-color: #d86a1b;
}

.secondaryLinks {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.linkItem {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.linkItem:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.divider {
  color: #ced4da;
}

@media (max-width: 576px) {
  .divider {
    display: none;
  }
  .secondaryLinks {
    flex-direction: column;
    gap: 0.75rem;
  }
}
